.accordion {
  .card.download-area {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;

    .card-header {
      font-size: 18px;
      font-weight: normal;

      .download-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .dropdown {
        display: inline-block;
        margin-top: -5px;
      }
      .progress {
        background: #a1a1a1;
      }
    }
  }
  .piece {
    width: 10px;
    height: 10px;
    background-color: #eef2f4;
    border: 1px solid #dee2e5;
    display: inline-block;
    margin-right: 1px;
    line-height: 1rem;
    vertical-align: middle;
  }
  .piece.complete {
    background-color: #b8dd69;
    border-color: #b8dd69;
  }
}